.about {
  display: flex;
  padding: 10px 0 80px;
  text-align: center;
  align-items: center;

  &-item {
    text-align: start;
    align-items: center;
    margin: 40px 0;
  }

  img {
    width: 100%;
  }

  h2 {
    padding-bottom: 24px;
  }

  h4 {
    color: $dark-blue;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .about {
    .row:nth-child(2) {
      flex-direction: column-reverse;
    }
    
    img {
      margin-bottom: 16px;
    }
  }
}