.about {
  display: flex;
  padding: 100px 0 0;
  text-align: center;
  align-items: center;

  &-item {
    text-align: start;
    align-items: center;
    margin: 40px 0;
  }

  img {
    width: 100%;
  }

  h2 {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  h3 {
    color: $dark-blue;
    font-weight: 700;
  }
}