.advantages {
  padding: 100px 0;
  text-align: center;

  &-item {
    img {
      width: 70px;
      height: 70px;
      margin-bottom: 32px;
    }
  }

  .subtitle {
    font-size: 0.875rem;
    max-width: 400px;
    margin: 0px auto 64px;
  }
}