.guarantees {
  padding: 100px 0 60px;
  text-align: center;
  background-color: $light-grey;

  .row {
    text-align: start;
    align-items: center;
    margin: 50px 0;
  }

  img {
    width: 100%;
  }

  &-item {
    display: flex;
    align-items: center;
    margin: 8px 0;

    p {
      margin: 0;
    }

    img {
      height: 55px;
      width: 55px;
      margin-right: 8px;
    }
  }
}

@media (max-width: 768px) {
  .guarantees {
    .row:nth-child(3) {
      flex-direction: column-reverse;
    }

    .row {
      margin: 0;
    }

    &-image {
      margin: 16px 0;
    }
    
  }
}

@media (max-width: 767px) {
  .guarantees {
    &-item {
      margin: 16px 0;
    }
  }
}