.services {
  padding: 100px 0 70px;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-item {
    margin: 8px 0;
    padding: 48px 24px 32px;
    text-align: center;
    border-radius: 5px;
    transition: all linear .2s;
    &:hover {
      box-shadow: 0 0 13px 2px rgb(0 0 0 / 13%);
    }
    img {
      height: 55px;
      width: 55px;
      margin-bottom: 8px;
    }
    p {
      color: $dark-blue;
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: 600;
    }
  }

  hr {
    margin: 8px 0 22px;
    width: 825px;
    border: 1px solid #dee2e6;
  }

  h4 {
    color: $dark-blue;
    font-weight: 700;
    line-height: 1.5;
    max-width: 550px;
    margin: 24px 0 40px;
  }

  .title {
    margin-bottom: 16px;
  }
}